    
    <footer id="footer-part">
    <div class="footer-top pt-40 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-about mt-40">
                        <div class="logo">
                            <a href="#"><%= image_tag("logo-2.png", alt: "Logo") %></a>
                        </div>
                        <p>Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                        <ul class="mt-20">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div> <!-- footer about -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-link mt-40">
                        <div class="footer-title pb-25">
                            <h6>Sitemap</h6>
                        </div>
                        <ul>
                            <li><a href="/"><i class="bi bi-chevron-right"></i>UNIVSE</a></li>
                            <li><a href="/pages/about"><i class="bi bi-chevron-right"></i>A propos de nous</a></li>
                            <li><a href="/pages/courses"><i class="bi bi-chevron-right"></i>Cours</a></li>
                 
                            <li><a href="/pages/events"><i class="bi bi-chevron-right"></i>Evenements</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Gallery</a></li>
                           
                            <li><a href="/pages/teachers"><i class="bi bi-chevron-right"></i>Nos professeur</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Aide</a></li>
                            <li><a href="/pages/contact"><i class="bi bi-chevron-right"></i>Contactez nous</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-link support mt-40">
                        <div class="footer-title pb-25">
                            <h6>Aide</h6>
                        </div>
                        <ul>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>FAQS</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Protection des donnees</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Reglements</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Aide</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right"></i>Documentation</a></li>
                        </ul>
                    </div> <!-- support -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-address mt-40">
                        <div class="footer-title pb-25">
                            <h6>Contactez-nous</h6>
                        </div>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="bi bi-house-fill"></i>
                                </div>
                                <div class="cont">
                                    <p>27, Avenue Baranquilla, Jacmel, Haiti</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="bi bi-telephone"></i>
                                </div>
                                <div class="cont">
                                    <p>+(509) 8888-8888</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="bi bi-envelope-at-fill"></i>
                                </div>
                                <div class="cont">
                                    <p>info@univse.edu</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- footer address -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer top -->
        
</footer>